/* all elements */
html, div {
  font-family: Alef;
}

/* containers */
.main-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.connect-container {
  background-color: #D1FFEF;
  position: fixed;
  width: 33%;
  height: 100%;
  top: 0px;
  left: 0px;
  z-index: 1000;
  display: flex;
  flex-direction: column;
}

.connections {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.mel-container {
  background-color: #FFD6CE;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  position: fixed;
  width: 33%;
  height: 100%;
  top: 0px;
  z-index: 1000;
  padding-top: 30px;
}

.portfolio-container {
  background-color: #CBF7FF;
  position: fixed;
  width: 33%;
  height: 100%;
  top: 0px;
  left: 858px;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}


/* buttons */
#menu {
  height: 9.5%;
  width: 5%;
  background-color: white;
  border-radius: 100%;
  box-shadow: 2px 3px lightgray;
  position: fixed;
  top: 20px;
  right: 30px;
}

#menu:hover {
  height: 11.5%;
  width: 6%;
  cursor: pointer;
  transition-duration: .2s;
}



/* images */
#mel {
  height: auto;
  width: 55%;
  border-radius: 100%;
}

#mel:hover {
  box-shadow: 2px 2px #F8A393,
              3px 3px #F8A393,
              4px 4px #F8A393;
  -webkit-transform: translateY(-3px);
  transform: translateY(-3px);
}

#eggs {
  height: 55%;
  width: 55%;
  position: absolute;
  top: 300px;
  right: 30px;
}

#eggs:hover {
  -webkit-animation: spin 1s infinite linear;
  -moz-animation: spin 1s infinite linear;
  -ms-animation: spin 1s infinite linear;
  -o-transition: rotate(3600deg);
  cursor: progress;
}

#facebook, #instagram, #linkedin {
  height: auto;
  width: 20%;
  cursor: pointer;
  padding-top: 30px;
}

#facebook:hover, #instagram:hover, #linkedin:hover {
  height: auto;
  width: 20%;
  cursor: pointer;
  padding-top: 30px;
}

#avocado {
  height: 55%;
  width: 55%;
  position: absolute;
  top: 330px;
  left: 20px;
}

#avocado:hover {
  -webkit-animation: bounce 0.5s alternate infinite;
  -moz-animation: bounce 0.5s alternate infinite;
  -ms-animation: bounce 0.5s alternate infinite;
  cursor: progress;
}

#textline-1 {
  height: 20%;
  width: 20%;
  position: absolute;
  left: 19px;
  top: 70px;
}

#textline-2 {
  height: 20%;
  width: 20%;
  position: absolute;
  left: 19px;
  top: 70px;
}

/* text */
#connect {
  font-size: 23pt;
  color: #434343;
  padding-top: 90px;
  padding-left: 40px;
}

#connect-text {
  padding-top: 10px;
  padding-left: 40px;
}

#melanieyu {
  font-size: 30pt;
  color: #434343;
  padding-bottom: 30px;
}

#melanieyu:hover {
  color: white;
}

#intro {
  padding-top: 30px;
  color: #434343;
}

#portfolio-text {
  padding-top: 10px;
  padding-left: 40px;
}

#portfolio {
  font-size: 23pt;
  color: #434343;
  padding-top: 90px;
  padding-left: 40px;
}

/* animations */
@-moz-keyframes spin {
  from { -moz-transform: rotate(0deg); }
  to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
  from { -webkit-transform: rotate(0deg); }
  to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
  from {transform:rotate(0deg);}
  to {transform:rotate(360deg);}
}

@-moz-keyframes bounce {
  from { -moz-transform: translate3d(0, 0, 0);     }
  to   { -moz-transform: translate3d(0, 50px, 0); }
}
@-webkit-keyframes bounce {
  from { -webkit-transform: translate3d(0, 0, 0);     }
  to   { -webkit-transform: translate3d(0, 50px, 0); }
}
@keyframes bounce {
  from { transform: translate3d(0, 0, 0);     }
  to   { transform: translate3d(0, 50px, 0); }
}
