/* all elements */
html, div {
  font-family: Alef;
}

/* containers */
.main-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.connect-container {
  background-color: #D1FFEF;
  position:fixed;
  width: 33%;
  height: 100%;
  top: 0px;
  left: 0px;
  z-index: 1000;
}

.mel-container {
  background-color: #FFD6CE;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  position: fixed;
  width: 33%;
  height: 100%;
  top: 0px;
  z-index: 1000;
  padding-top: 30px;
}

.portfolio-container {
  background-color: #CBF7FF;
  position: fixed;
  width: 33%;
  height: 100%;
  top: 0px;
  left: 858px;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}


/* buttons */
#menu {
  height: 9.5%;
  width: 5%;
  background-color: white;
  border-radius: 100%;
  box-shadow: 2px 3px lightgray;
  position: fixed;
  top: 20px;
  right: 30px;
}

#menu:hover {
  height: 11.5%;
  width: 6%;
  cursor: pointer;
  transition-duration: .2s;
}



/* images */
#mel {
  height: auto;
  width: 55%;
  border-radius: 100%;
}

.textline {
  height: 10%;
  width: 10%;
}

#eggs {
  height: 55%;
  width: 55%;
  position: absolute;
  right: 30px;
  bottom: 20px;
}

#eggs:hover {
  -webkit-animation: spin 1s infinite linear;
  -moz-animation: spin 1s infinite linear;
  -ms-animation: spin 1s infinite linear;
  -o-transition: rotate(3600deg);
  cursor: progress;
}

/* text */
#melanieyu {
  font-size: 30pt;
  color: #434343;
  padding-bottom: 30px;
}

#melanieyu:hover {
  color: white;
}

#intro {
  padding-top: 30px;
  color: #434343;
}

#portfolio-text {
  padding-left: 20px;
}


/* animations */
@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}
